<app-nav-bar></app-nav-bar>

<div class="page-container">
  <div class="box" *ngIf="currentUser$ | async as user">
    <h2>{{ user.NomeTitolare }} {{ user.CognomeTitolare }}</h2>

    <div class="fields">
      <div class="column">
        <p>Nome:</p>
        <div class="field-box">
          <p>{{ user.NomeTitolare }}</p>
        </div>

        <p>Data creazione:</p>
        <div class="field-box" *ngIf="contoCorrente$ | async as conto">
          <p>{{ conto.DataApertura | date:'dd/MM/yyyy' }}</p>
        </div>

        <p>IBAN: </p>
        <div class="field-box" *ngIf="contoCorrente$ | async as conto">
          <p>{{ conto.IBAN }}</p>
        </div>
      </div>

      <div class="column">
        <p>Cognome:</p>
        <div class="field-box">
          <p>{{ user.CognomeTitolare }}</p>
        </div>
      </div>
    </div>

    <div class="center mt-3">
      <button mat-flat-button color="primary" (click)="openChangePassword()">
        Cambia Password
      </button>
    </div>
  </div>
</div>
