<app-nav-bar></app-nav-bar>

<div class="box">
  <h1>Ricarica telefonica</h1>
  <p>Scegliere l'operatore e l'importo</p>

  <form [formGroup]="telephoneForm" (ngSubmit)="topUp()">
    <!-- Operatore -->
    <div class="form-group">
      <label for="operatoreTelefonico">Operatore</label>
      <select id="operatoreTelefonico" formControlName="operatoreTelefonico">
        <option value="">Seleziona operatore</option>
        <option value="iliad">Iliad</option>
        <option value="vodafone">Vodafone</option>
        <option value="tim">Tim</option>
        <option value="coopvoce">Coop Voce</option>
      </select>
      <div
        *ngIf="
          telephoneForm.get('operatoreTelefonico')?.invalid &&
          telephoneForm.get('operatoreTelefonico')?.touched
        "
        class="error"
      >
        Seleziona un operatore.
      </div>
    </div>

    <!-- Importo -->
    <div class="form-group">
      <label for="importo">Importo</label>
      <select id="importo" formControlName="importo">
        <option value="">Seleziona importo</option>
        <option value="5">5€</option>
        <option value="10">10€</option>
        <option value="20">20€</option>
        <option value="50">50€</option>
      </select>
      <div
        *ngIf="
          telephoneForm.get('importo')?.invalid &&
          telephoneForm.get('importo')?.touched
        "
        class="error"
      >
        Seleziona un importo.
      </div>
    </div>

    <!-- Numero di telefono -->
    <div class="form-group">
      <label for="number">Numero di telefono</label>
      <input
        type="tel"
        id="number"
        formControlName="number"
        placeholder="Inserisci numero"
      />
      <div
        *ngIf="
          telephoneForm.get('number')?.invalid &&
          telephoneForm.get('number')?.touched
        "
        class="error"
      >
        <p style="color: red; padding-top: 10px">Inserisci un numero valido.</p>
      </div>
    </div>

    <button type="submit" [disabled]="telephoneForm.invalid">Ricarica</button>
  </form>

  <div *ngIf="success" class="success-msg">Ricarica effettuata!</div>
</div>
