<div class="login-container fall-in fall-in-delay-1">
  <!-- Colonna sinistra: Login -->
  <div class="login-left fall-in fall-in-delay-2">
    <div class="logo">
      <h2>ITS Bank</h2>
    </div>
    <h1>Iniziamo!</h1>
    <p>Benvenuto in ITS Bank - Entriamo nella piattaforma</p>

  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="you@email.com" />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="••••••••" />
    </div>

    <button type="submit">Accedi</button>
  </form>

  <div class="text-error" *ngIf="loginError">
    {{ loginError }}
  </div>

  <div class="text-warning" *ngIf="inactivityMessage">
    {{ inactivityMessage }}
  </div>


    <p class="register-text">
      Non registrato? <a [routerLink]="['/register']">Crea un account</a>
    </p>
  </div>

  <!-- Colonna destra: Immagine/Testo -->
  <div class="login-right slide-in-right">
    <div class="overlay">
      <h2>Entra nel futuro</h2>
      <p>del pagamento, oggi!</p>
      <div class="card-mockup">
        <p><strong>12,347.23 $</strong></p>
        <small>Bilancio combinato</small>
        <p>Primary Card •••• 6917</p>
      </div>
    </div>
  </div>
</div>
