<div class="login-container">
  <!-- Colonna sinistra: Register -->
  <div class="login-left">
    <h1>Benvenuto a bordo!</h1>
    <p>ITS Bank - Entriamo nella piattaforma</p>

    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="you@email.com"
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="••••••••"
        />
        <div
          class="text-error"
          *ngIf="
            registerForm.controls['password'].touched &&
            registerForm.controls['password'].errors
          "
        >
          <span *ngIf="registerForm.controls['password'].hasError('required')">
            La password è obbligatoria
          </span>
          <span *ngIf="registerForm.controls['password'].hasError('pattern')">
            Minimo 8 caratteri, con almeno una maiuscola e un carattere speciale
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Conferma password</label>
        <input
          type="password"
          formControlName="confermaPassword"
          placeholder="••••••••"
        />
      </div>

      <div class="form-group">
        <label>Nome titolare</label>
        <input type="text" formControlName="NomeTitolare" placeholder="Mario" />
      </div>

      <div class="form-group">
        <label>Cognome titolare</label>
        <input type="text" formControlName="CognomeTitolare" placeholder="Rossi" />
      </div>

      <!-- Submit -->
      <button type="submit">Accedi</button>
    </form>
  </div>

  <div class="text-error" *ngIf="registerError">
    {{ registerError }}
  </div>

  <!-- Colonna destra: Immagine/Testo -->
  <div class="login-right slide-in-right">
    <div class="overlay">
      <h2>Entra nel futuro</h2>
      <p>del pagamento, oggi!</p>
      <div class="card-mockup">
        <p><strong>12,347.23 $</strong></p>
        <small>Bilancio combinato</small>
        <p>Primary Card •••• 6917</p>
      </div>
    </div>
  </div>
</div>
